.container {
  width: 100%;
}

.board {
  width: 50%;
  margin: 0 auto;
}

.game-button {
  box-sizing: border-box;
  display: inline-block;
  height: 150px;
  transition: .5s all ease;
  width: 50%;
}

.fix-ib {
  margin-left: -4px;
}

.top-left     { background-color: green; }
.top-right    { background-color: red;   }
.bottom-right { background-color: blue;  }
.bottom-left  { background-color: yellow;}

.active {
  opacity: .5;
  transition: .5s all ease;
}