*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #efefef;
}

.container {
  margin-top: 70px;
  width: 100%;
}

.board {
  width: 50%;
  margin: 0 auto;
}

.game-button {
  height: 150px;
  transition: 1s all ease;
  width: 50%;
  position: relative;
}

.up {
  top: -4px;
}

.centered {
  auto: 0 auto;
}

.ib {
  display: inline-block;
}

.fix-ib {
  margin-left: -4px;
}

.top-left     { background-color: #009900; }
.top-right    { background-color: #990000; }
.bottom-left  { background-color: #999900; }
.bottom-right { background-color: #000099; }

.active-button-1 { background-color: #00FF00; }
.active-button-2 { background-color: #FF0000; }
.active-button-3 { background-color: #FFFF00; }
.active-button-4 { background-color: #0088FF; }

.text-large {
  color: #333;
  font-family: sans-serif;
  font-size: 3em;
  font-weight: 700;
}

.modal {
  display: none;
  position: absolute;
  top: 125px;
  left: 324px;
  width: 50%;
  color: #444;
  height: 308px;
  font-size: 2em;
  font-family: sans-serif;
  text-align: left;
  z-index: 2;
  background-color: #FFF;
  margin: 0 auto;
}

.message-wrapper {
  padding: 5% 0;
  height: 60%;
  width: 90%;
  margin: 0 auto;
}

.top-bar {
  height: 15%;
  background-color: #ABABAB;
  text-align: right;
}

.cancel-button {
  background-color: #c0392b;
  color: #DEDEDE;
  width: 8%;
  text-align: center;
  height: 100%;
  margin-left: 92%;
  padding: 1%;
  transition: .5s all ease;
}

.cancel-button:hover {
  background-color: #d14233;
  transition: .5s all ease;
}

.dialog-button {
  background-color: #2C3E50;
  width: 90%;
  color: #FFF;
  text-align: center;
  margin: 0 0 0 5%;
  padding: 10px;
  transition: .5s all ease;
}

.dialog-button:hover {
  color: #CDCDCD;
  background-color: #354b60;
  transition: .5s ease all;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.row        {  width: 100%; }
.one-half   {  width: 50%;  }



.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}


@-webkit-keyframes fadeOutUpBig {
  0% {
    opacity: 1;

  }
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
          animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeOutDownBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }
}

@keyframes fadeOutDownBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }
}

.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
          animation-name: fadeOutDownBig;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}